body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN",sans-serif;

}
* {
    margin: 0;
    padding: 0;
}

.contents-bg {
    background-image: url(MAM.jpeg);
    background-size: cover;
    background-position: center;
    height: 700px;
}

.contents {
    background-color: rgba(0,0,0,0.6);
    height: 700px;
}

.contents h1 {
    color: #ff0000;
    font-weight: bold;
    text-align: center;
    font-size: 70px;
    font-family: fantasy;
    margin-top: 200px;

}

.contents h1 span {
  color: #fff;
  font-size: 70px;
}

.bt1 {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 3em;
  text-decoration: none;
  border-left: solid 4px #668ad8;
  border-right: solid 4px #668ad8;
  color: #668ad8;
  background: #e1f3ff;
  transition: .4s;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
  
}

.bt1:hover {
  background: #668ad8;
  color: #FFF;
}




@media (max-width: 670px ) {

  .contents-bg {
    background-image: url(MAM.jpeg);
    background-size: cover;
    
    height: 630px;
    width:100%;
}

.contents {
    background-color: rgba(0,0,0,0.6);
    height: 630px;
    width:100%;
}

.contents h1 {
    color: #ff0000;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    font-family: impact;
    margin-top: 170px;

}

.contents h1 span {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
.bt1 {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.1em 2em;
  text-decoration: none;
  border-left: solid 4px #668ad8;
  border-right: solid 4px #668ad8;
  color: #668ad8;
  background: #e1f3ff;
  transition: .4s;
  font-size: 17px;
  margin-top: 20px;
  margin-left: 20px;
  width:50%;
}

.bt1:hover {
  background: #668ad8;
  color: #FFF;
}


}

