.bg_test {
    background-color: #FF3300;   /* 背景色指定 */
}

.bg_test2 {
    background-color: #FFF;         /* 背景色指定 */
}

.bg_test3 {
    background-color: #29b36e;         /* 背景色指定 */
}





.bg_test {
    height: 1px;                  /* 高さ指定 */
    padding:  15px;                 /* 余白指定 */
    font-size: 20px;                /* 文字サイズ指定 */
}

.bg_test2 {
    color:  #000;                   /* 文字色指定 */
    height: 1px;                  /* 高さ指定 */
    width: 90%;                    /* 幅指定 */            /* 文字サイズ指定 */ */
    padding:  15px;                 /* 余白指定 */
    float:  right;                  /* 位置指定 */
    position:  relative;            /* 位置指定 */
    top: 15px;                     /* 位置指定 */
}

.bg_test3 {
    color:  #009966;                   /* 文字色指定 */
    height: 1px;                  /* 高さ指定 */
    width:  90%;                  /* 幅指定 */
    padding:  15px;                 /* 余白指定 */
    float:  right;                  /* 位置指定 */
    position:  relative;            /* 位置指定 */
    top: 15px;
                /* 位置指定 */
}

header {
  height: 130px;
}

.bg_test3 h1 {
  color: black;


}

.bg_test3 span {
  color: #ff3300;
  font-family: impact;
  font-size: 45px;
  height: 10px;
}

body {
  margin: 0px;
  padding: 40px;
}

.box {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
}

.text {
}

h2 {
  font-size: 60px;
  margin: 0;
  color: red;
  font-weight: 900;
}

h3 {
  font-size: 30px;
}

.pict {
  width: 30%
  margin-left: 3%;
}

.pict img {
  width: 100%;
  height: auto;
}

.box:nth-child(even) {
  flex-direction: row-reverse;
}
.box:nth-child(even) .text {
  text-align: right;
}
.box:nth-child(even) .pict {
  margin-left: 0;
  margin-right: 3%;
}

.size h1 {
  font-size: 30px;
  color: red;
  padding-right: 500px;
}

.size li {
  font-size: 23px;
  text-align: left;
  font-weight: bold;
  padding-right: 220pxsize
}

@media (max-width: 670px) {
    
    .bg_test {
        width: 100%;
    }
    
    .bg_test2 {
        width: 100%;
    }
    
    .bg_test3 {
        width:100%;
    }
    
    header {
        width: 100%;
    }
    
    .bg_test3 h1 {
        width: 100%
    }
    
    body {
        width: 100%;
    }
    
    .box {
        width: 100%;
    }
    
    .test {
        width: 100%;
    }
    
    h2 {
        width: 100%;
    }
    
    h3 {
        width: 100%;
    }
    
    .pich {
        width: 100%;
    }
    
    .pich img {
        width: 100%;
    }
    
    .box:nth-child {
        width: 100%;
    }
    
    .size h1 {
        width: 100%;
    }
    
    .size li {
        width: 100%; 
    }
}
    
