body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}



.bg_test {
    background-color: #FF3300;   /* 背景色指定 */
}

.bg_test2 {
    background-color: #FFF;         /* 背景色指定 */
}

.bg_test3 {
    background-color: #66FF00;         /* 背景色指定 */
}




.bg_test {
    height: 1px;                  /* 高さ指定 */
    padding:  15px;                 /* 余白指定 */
    font-size: 20px;                /* 文字サイズ指定 */
}

.bg_test2 {
    color:  #000;                   /* 文字色指定 */
    height: 1px;                  /* 高さ指定 */
    width:  90%;                  /* 幅指定 */
    font-size:  5px;               /* 文字サイズ指定 */
    padding:  15px;                 /* 余白指定 */
    float:  right;                  /* 位置指定 */
    position:  relative;            /* 位置指定 */
    top: 15px;                     /* 位置指定 */
}

.bg_test3 {
    color:  #66FF00;                   /* 文字色指定 */
    height: 1px;                  /* 高さ指定 */
    width:  90%;                  /* 幅指定 */
    font-size:  14px;               /* 文字サイズ指定 */
    padding:  15px;                 /* 余白指定 */
    float:  right;                  /* 位置指定 */
    position:  relative;            /* 位置指定 */
    top: 15px;                     /* 位置指定 */
}

.bg_test3 h1 {
  color: black;

}

.bg_test3 span {
  color: #ff3300;
  font-family: impact;
  font-size: 45px;
  height: 10px;
}
.bg_test3 img {
  width: 200px;
}

.lesson-wrapper {
  height: 500px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
}

.heading h1{
    font-size: 60px;
    color: red;
